[submodule "TomiSoft.MobilePos"]
	path = TomiSoft.MobilePos
	url = https://github.com/std66/TomiSoft.MobilePos.git
	branch = master
[submodule "TomiSoft.ProductCatalog"]
	path = TomiSoft.ProductCatalog
	url = https://github.com/std66/TomiSoft.ProductCatalog.git
	branch = master
[submodule "TomiSoft.ProductPrice"]
	path = TomiSoft.ProductPrice
	url = https://github.com/std66/TomiSoft.ProductPrice.git
	branch = master
